
.outer {
    position: relative;
}
.box {
    
   
    float: left;
    margin: 25px
}

#title-3 {
    margin-top: 50px;
    margin-left: 405px;
}
.button {
    margin-top: 155px;
    background-color: darkred;
    color:#fff;
	padding:10px 125px;
	border:none;

}
.button:hover {
    background-color: red;
    color:#fff;
}

.inp {
    border-radius:15px;
    background-color:darkred;
    border-color: darkred;
    color: white;
}