    .navbar-custom {
            background-color: darkred;
        }

         .navbar-custom .navbar-brand,
        .navbar-custom .navbar-brand,
         .navbar-custom .navbar-nav .nav-link{
            color: white;
            
            }

    h3 {
      font-size: 30px;
    }

    p {
        font-size: 120%;
    }

 